# Created by https://www.gitignore.io/api/c++

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Shape0915.cbp
Shape0915.cscope_file_list
Shape0915.depend
Shape0915.layout
Thumbs.db
dummy/dummy.cbp
dummy/dummy.layout
moc_howto.pptx
